<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
		<meta http-equiv="refresh" content="{{ wait }}; url={{ url.original }}" />
		<link rel="canonical" href="{{ url.original }}"/>
	</head>
	<body>
		<div class="container header">
			<h1 class="center">Redirecting in <i>{{ wait }}s</i></h1>
			<span class="center">
				<p>to: <a href="{{ url.original }}" rel="noreferrer nofollow">{{ url.original }}</a></p>
			</span>
		</div>
		<script>
			if(window.location.hash) {
				document.getElementById('url').setAttribute('content', '0; url="{{ url.original }}"' + window.location.hash);
			}
		</script>
	</body>
</html>
