<!DOCTYPE html>
<html lang="de">
	<head>
		{% include 'templates/head' %}
		<meta http-equiv="refresh" content="{{ wait }}; url={{ redirect.original }}" />
		<link rel="canonical" href="{{ redirect.original }}"/>
		<meta name="robots" content="noindex,nofollow">
		<meta name="referrer" content="no-referrer">
		<link rel="prefetch" href="{{ redirect.original }}">
	</head>
	<body>
		<div class="container header">
			<h1>Redirecting in <i class="accent">{{ wait }}s</i></h1>
			<p>to: <a href="{{ redirect.original }}" rel="noreferrer nofollow">{{ redirect.original }}</a></p>
		</div>
		<script>
			if(window.location.hash) {
				document.getElementById('url').setAttribute('content', '{{ wait }}; url="{{ redirect.original }}"' + window.location.hash);
			}
		</script>
	</body>
</html>
